*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
  }
  body{ 
    background-color: #caf7e3;
    overflow-x: hidden;

  }
  
#logo{ 
  margin-top: 2%;
  width: 350px;
  height: 350px;
  margin-left: 50%;
  transform: translate(-50%, 0%);

}

a{ 
  text-decoration:none;
  color: black;
  font-family: 'Lato', sans-serif;
  width: auto;
}

.container{ 
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffffff;
  width: 80%;
  border-radius: 50px;
  margin-top: 10%;
  height: 98%;
}


.languages{ 
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
  transform: translate(-50%) ;
  text-align:center ;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: none;
  font-size: auto;
  text-decoration:none;
  width:80%;
}
a:visited {
  color: black;
  text-decoration:none;
  border-radius: 10px 10px 10px 10px;

}

.active{ 
  border-radius: 10px 10px 10px 10px;
  background: #f05945;
  color: aliceblue;
  width: 100px;
}
  #title{ 
    font-family: 'Lobster', cursive;
      font-size: 5rem;
      text-align: center;
  }



  #subtitle{ 
      margin-top: 1rem;
      font-family: 'Lobster', cursive;
     font-size: 12vw;
    text-align: center;
    text-decoration: underline;}


#products{ 
    font-family: 'Lato', sans-serif;
    margin-top: 2rem;
    list-style: none;
    text-align: center;
    font-size: 5vw;
}


